@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navigation-menu {
    background: linear-gradient(197deg, rgba(28, 141, 142, 1) 16%, rgba(34, 196, 45, 0.9716678907891282) 100%);
}

#about-us-image-container {
    height: 40vh;
    width: 100%;
    background-image: url(./Images/AboutUs/header/hero_inner_pages.jpg);
    background-size: cover;
    position: relative;
}

#about-us-image-container::before {
    content: '';
    opacity: .6;
    background-color: #181A1E;
    position: absolute;
    height: 100%;
    width: 100%;
}

#about-us-content {
    width: 65%;
    position: absolute;
    top: 9rem;
    z-index: 2;
    margin: 5rem 7rem;
}

#about-us-content a {
    font-size: 1.3rem;
    font-style: italic;
    color: #F0F0F0;
    text-decoration: none;
}

#about-us-content h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #F0F0F0;
    font-size: 3.5rem;
    margin: 1.8rem 0 0 0;
}

#about-us-content p {
    font-size: 1.8rem;
    color: #FFFFFF;
}

/* section for coaching support and services  */
#coaching-support-section {
    background-image: url(./Images/AboutUs/background-image/background_12.jpg);
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

#coaching-support {
    display: flex;
    justify-content: center;
    padding: 10% 5% 10% 10%;
}

#coaching-support-content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

#coaching-heading {
    width: 70%;
    font-size: 5.2rem;
    text-transform: capitalize;
}

.coaching,
.support {
    font-weight: 400;
    color: #7E7B73;
}

.and {
    color: #D8C149;
}

#content p {
    color: #484743;
    font-size: 2.3rem;
    font-family: "Playfair Display", serif;
}

#coaching-btn {
    margin-top: 10%;
    display: flex;
    gap: 7%;
}

.joinNow,
.learnMore {
    padding: 1.2rem 3.2rem;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
}

.joinNow {
    color: white;
    background-color: #D8C149;
    transition: all .7s ease-in-out;
}

.joinNow:hover {
    background-color: white;
    color: #D8C149;
    border: 1px solid #D8C149;
}

.learnMore {
    border: 1px solid #7E7B73;
    color: #7E7B73;
    transition: all .7s ease-in-out;
}

.learnMore:hover {
    background-color: #7E7B73;
    color: white;
}

/* growing community section  */
#growing-community-section {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0% 6%;
}

#growing-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}

.growing {
    text-align: center;
    text-transform: lowercase;
}

.growing::first-letter {
    text-transform: uppercase;
}

.growing h3 {
    font-style: italic;
    font-size: 2rem;
    color: #484743;
    font-weight: 300;
    font-family: "Playfair Display", serif;
}

.growingHeading {
    font-family: "Raleway", sans-serif;
    color: #7E7B73;
    font-size: 3.1rem;
    font-weight: 400;
    text-transform: lowercase;
}

.growingHeading::first-letter {
    text-transform: uppercase;
}

.growing-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.growing-icons span::before {
    content: '\f5d1';
    font-family: "fontAwesome";
    font-size: 3.5rem;
    color: #7E7B73;
}

.growing-icons hr {
    width: 7.5rem;
    color: #484743;
    margin: 1rem;
}

.growing-icons i {
    font-size: 3rem;
    padding: 0;
}

.growing h2 {
    font-family: "Playfair Display", serif;
    text-transform: lowercase;
    color: #484743;
    font-size: 2rem;
    font-weight: 300;
}

.growing h2::first-letter {
    text-transform: uppercase;
}

#healthyLifePrinciple {
    display: flex;
    gap: 3.7%;
}

#healthyLifePrinciple {
    margin-top: 10%;
    padding: 0 5%;
    font-family: "Playfair Display", serif;
}

#healthyLife i,
#principles i,
#farmingPractices i,
#personalizedPlan i {
    font-size: 8rem;
    color: #D8C149;
}

.healthyLifeHeading {
    font-size: 2.3rem;
    font-weight: 300;
    color: #7E7B73;
    text-transform: capitalize;
    margin: 2rem auto 1rem auto;
}

.healthyLifeSubHeading {
    color: #484743;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    text-transform: lowercase;
}

.healthyLifeSubHeading::first-letter {
    text-transform: uppercase;
}

/* dieting package section styles begins here  */
#dieting-package-section {
    background-image: url(./Images/AboutUs/background-image/background_lady.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#dieting-package-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

#dieting-package-headings h1 {
    width: 67%;
    color: #F0F0F0;
    font-size: 4.3rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin-bottom: 3rem;
}

#dieting-package-headings span {
    color: #D8C149;
}

#dieting-package-headings h2 {
    width: 68%;
    margin: 0;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 300;
}

#dieting-packages {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5% 0;
}

.packages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F0F0f0;
    padding: 5% 2%;
    background-color: rgba(255, 255, 255, 0.1);
    border: .1rem solid #F0F0F0;
}

.packages i {
    font-size: 6.1rem;
}

.packages h2 {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: lowercase;
}

.packages h2::first-letter {
    text-transform: uppercase;
}

.packages h5 {
    margin: 0 0 2rem 0;
    font-size: 1.7rem;
    font-weight: 300;
}