/* responsiveness started here  */
@media (max-width: 576px) {
    html {
        font-size: 55%;
    }

    /* 
    #hero-section {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    } */

    .menu-item {
        display: none;
    }

    #menu-icons-header {
        display: none;
    }

    #hero-heading {
        margin-top: 2%;
        padding-left: 9%;
    }

    #hero-heading p {
        width: 95%;
    }

    #main-heading {
        width: 100%;
    }

    #header-girl {
        display: none;
    }

    .signature {
        height: 20%;
        margin-left: 0;
    }

    #sub-header-container {
        flex-direction: column;
        margin-top: 3%;
        align-items: center;
        /* margin: translate(50%, -50%); */
    }

    #header {
        width: 90%;
        height: 10vh;
        margin: 3% 0;
        transform: translate(10%);

    }

    #header:first-child {
        margin-top: 9%;
    }

    #choose-program {
        padding-top: 70%;
    }

    #choose-program-container,
    #choose-feedback-container {
        margin: 0 10%;
    }

    #program-subheading h5 {
        font-size: 2rem;
    }

    #program-cards-container {
        flex-direction: column;
    }

    .cards {
        width: 80%;
        margin: 2%;
    }

    .cards i {
        position: relative;
        margin-top: -5%;
    }

    #blog-container {
        flex-direction: column;
    }

    .blog-image {
        height: 20%;
    }

    #blog-container p {
        color: #484743;
    }

    .readMore {
        width: 20%;
    }

    #dieting-part1 h1 {
        width: 100%;
    }

    #dieting-part1 p {
        width: 100%;
    }

    .dieting-sublist {
        flex-direction: column;
    }

    .list-are {
        width: 100%;
    }

    .part-2 {
        margin-left: 0;
    }

    #girls-image-container {
        display: none;
    }

    #pumpkin-seed-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pumpkin-image {
        margin-left: 0;
    }

    .content {
        text-align: center;
        margin: 0;
    }

    .content h1,
    .content h2 {
        width: 100%;
    }

    #footer-container {
        flex-direction: column;
    }
}