/* responsiveness started here  */
@media (max-width: 576px) {
    html {
        font-size: 45%;
    }

    /* 
    #hero-section {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    } */

    .menu-item {
        display: none;
    }

    #menu-icons-header {
        display: none;
    }

    #hero-heading {
        margin-top: 2%;
        padding-left: 9%;
    }

    #hero-heading p {
        width: 95%;
        font-size: 2.7rem;
    }

    #main-heading {
        width: 100%;
    }

    #header-girl {
        display: none;
    }

    .signature {
        height: 20%;
        margin-left: 0;
    }

    #sub-header-container {
        flex-direction: column;
        margin: translate(50%, -50%);
    }

    #header {
        width: 100%;
    }

    #choose-program {
        padding-top: 60%;
    }
}