@media (max-width: 576px) {
    html {
        font-size: 45%;
    }

    .image-logo {
        height: 10vh;
        width: 100%;
    }

    #hero-heading {
        margin-top: 3%;
    }

    #hero-heading p {
        width: 100%;
    }

    #main-heading {
        width: 100%;
        font-size: 3.3rem;
    }

    #header-girl {
        margin-top: -10.3%;
        padding: 0 9rem;
    }

}