/* section for expertize and services */
#expertize-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3% 2%;
}

#expertize-section {
    padding: 5% 0;
}

#expertize-section h2 {
    color: #484743;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.9rem;
    margin: 0;
}

#expertize-section h1 {
    font-family: "Playfair Display", serif;
    color: #7E7B73;
    font-weight: 400;
    font-size: 5rem;
    text-transform: capitalize;
    margin: 3% 0;
}

#expertize-section h3 {
    color: #484743;
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    margin: 0 8%;
    text-transform: lowercase;
    font-weight: 100;
}

#expertize-section h3::first-letter {
    text-transform: uppercase;
}

#expertize-columns-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.expertize {
    width: calc(32% - 2%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expertize i {
    font-size: 5.9rem;
    color: #D8C149;
}

.expertHeading {
    color: #7E7B73;
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: capitalize;
    margin: 2rem 0 0;
}

.expertParagraph {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    color: #484743;
    font-weight: 200;
}

/* section for services starts here  */
#experience-section-container {
    background-image: url('./Images/servicePage/background_8.jpg');
    background-size: cover;
    position: relative;
}

#experience-section-container::before {
    content: '';
    background-image: url('./Images/servicePage/diagonalstripe-black.png');
    position: absolute;
}

#experience-section-container {
    padding: 5% 0;
    display: flex;
    gap: 2%;
    color: white;
}

#experienceDetails {
    margin-left: 5%;
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experienceHeading h1 {
    font-size: 5.7rem;
    text-transform: capitalize;
    font-weight: 400;
}

.experienceHeading span {
    color: #D8C149;
}

.experienceHeading p {
    font-size: 2rem;
}

#contactUsDetails {
    position: absolute;
    width: 25%;
    right: 3%;
    background-color: rgba(255, 255, 255, 0.8);
}

/* contact us detail section started here  */
.details {
    padding: 2rem;
}

.details h4 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #484743;
    font-weight: 300;
    font-style: italic;
    text-transform: lowercase;
    margin: 1rem 0;
}

.details h4::first-letter,
.details h1::first-letter {
    text-transform: uppercase;
}

.details h1 {
    font-size: 3rem;
    color: #7E7B73;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-transform: lowercase;
    margin: 0;
}

.detailsPara {
    font-size: 1.6rem;
    font-family: "Playfair Display", serif;
    color: #484743;
    padding-bottom: 3%;
}

.detailsSub {
    display: flex;
    flex-direction: column;
}

.detailsSub h2 {
    color: #7E7B73;
    font-size: 2rem;
    font-weight: 200;
    text-transform: capitalize;
    align-items: center;
    margin: 2%;
}

.detailsSub p {
    margin: 0 0 8% 14%;
    color: #484743;
    font-size: 1.2rem;
}

.part1 h2::before {
    content: '\f02c';
    font-family: 'fontAwesome';
    padding: 0 2%;
    font-size: 2.3rem;
    color: #D8C149;
    align-items: center;
}

.part2 h2::before {
    content: '\f2b5';
    font-family: 'fontAwesome';
    padding: 0 2%;
    font-size: 2.3rem;
    color: #D8C149;
}