/* section for expertize and services */
#expertize-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3% 2%;
}

#expertize-section {
    padding: 5% 0;
}

#expertize-section h2 {
    color: #484743;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.9rem;
    margin: 0;
}

#expertize-section h1 {
    font-family: "Playfair Display", serif;
    color: #7E7B73;
    font-weight: 400;
    font-size: 5rem;
    text-transform: capitalize;
    margin: 3% 0;
}

#expertize-section h3 {
    color: #484743;
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    margin: 0 8%;
    text-transform: lowercase;
    font-weight: 100;
}

#expertize-section h3::first-letter {
    text-transform: uppercase;
}

#expertize-columns-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.expertize {
    width: calc(32% - 2%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expertize i {
    font-size: 5.9rem;
    color: #D8C149;
}

.expertHeading {
    color: #7E7B73;
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: capitalize;
    margin: 2rem 0 0;
}

.expertParagraph {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    color: #484743;
    font-weight: 200;
}

/* section for services starts here  */
#experience-section-container {
    background-image: url('./Images/servicePage/background_8.jpg');
    background-size: cover;
    position: relative;
    height: 85vh;
}

#experience-section-container::before {
    content: '';
    background-image: url('./Images/servicePage/diagonalstripe-black.png');
    position: absolute;
}

#experience-section-container {
    padding: 5% 0;
    display: flex;
    gap: 2%;
    color: white;
}

#experienceDetails {
    margin-left: 5%;
    width: 56%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.experienceHeading h1 {
    font-size: 5.7rem;
    text-transform: capitalize;
    font-weight: 400;
}

.experienceHeading span {
    color: #D8C149;
}

.experienceHeading p {
    font-size: 2rem;
}



/* contact us detail section started here  */
#contactUsDetails {
    position: absolute;
    width: 30%;
    right: 5%;
    background-color: rgba(255, 255, 255, 0.8);
}

.details {
    padding: 5rem 3rem;
}

.details h4 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #484743;
    font-weight: 300;
    font-style: italic;
    text-transform: lowercase;
    margin: 1rem 0;
}

.details h4::first-letter,
.details h1::first-letter {
    text-transform: uppercase;
}

.details h1 {
    font-size: 3rem;
    color: #7E7B73;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-transform: lowercase;
    margin: 0;
}

.detailsPara {
    font-size: 1.8rem;
    font-family: "Playfair Display", serif;
    color: #484743;
    padding-bottom: 3%;
}

.detailsSub {
    display: flex;
    flex-direction: column;
}

.detailsSub h2 {
    color: #7E7B73;
    font-size: 2rem;
    font-weight: 200;
    text-transform: capitalize;
    align-items: center;
    margin: 2%;
}

.detailsSub p {
    margin: 0 0 8% 14%;
    color: #484743;
    font-size: 1.3rem;
}

.part1 h2::before {
    content: '\f02c';
    font-family: 'fontAwesome';
    padding: 0 3%;
    margin-top: -10%;
    font-size: 2.3rem;
    color: #D8C149;
}

.part2 h2::before {
    content: '\f2b5';
    font-family: 'fontAwesome';
    padding: 0 2%;
    font-size: 2.3rem;
    color: #D8C149;
}

.learnMoreDetails {
    width: 80%;
    margin: 5% auto 0 9%;
    padding: 1.2rem 3.2rem;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: #D8C149;
    transition: all .7s ease-in-out;
}

.learnMoreDetails::after {
    content: '\f061';
    font-family: 'fontAwesome';
    margin-left: 5%;
}

.learnMoreDetails:hover {
    background-color: white;
    color: #D8C149;
    border: 1px solid #D8C149;
}

/* service package styles begins here */
#service-section {
    background-image: url('./Images/servicePage/background_11.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#serviceSectionContainer {
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#servicePackageHeading h2 {
    color: #484743;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
}

#servicePackageHeading h1 {
    color: #7E7B73;
    font-weight: 500;
    font-size: 4.9rem;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    margin: 0;
}

#servicePackageContainer {
    margin: 7% 0 0;
    width: 100%;
    display: flex;
    gap: 5rem;
}

#servicePackage {
    border: 1px solid #7E7B73;
    width: calc(33% - 3%);
    display: flex;
    flex-direction: column;
}

.servicePackageListHeading {
    padding: 17% 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.servicePackageListHeading h2 {
    font-size: 3.4rem;
    font-weight: 400;
    color: #484743;
    text-transform: capitalize;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.servicePackageListHeading h1 {
    font-size: 6.9rem;
    color: #7E7B73;
    margin: 0;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
}

.servicePackageListHeading h1 span {
    font-size: 3rem;
}

.servicePackageListHeading h4 {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: #484743;
    font-weight: 200;
}

.servicePackageList {
    font-size: 1.9rem;
    color: #484743;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-transform: capitalize;
}

.servicePackageList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 0;
    margin: 0;
}

.servicePackageList ul li {
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 1.2rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

#servicePackageContainer>div:nth-child(2) {
    background-color: #F0F0F0;
    border: none;
}

#servicePackageContainer>div:nth-child(2) button {
    background-color: #D8C149;
    color: #F0F0F0;
}

#servicePackageContainer>div:nth-child(2) button:hover {
    background-color: transparent;
    border: 1px solid #D8C149;
    color: #D8C149;
}

.getStarted {
    padding: 3rem 0 5rem;
}

.getStartedBtn {
    background-color: #00a651;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.getStartedBtn:hover {
    background-color: transparent;
    border: 1px solid #00a651;
    color: #00a651;
}

#servicePackageBtn {
    margin-top: 7%;
    display: flex;
    gap: 3rem;
}

.aboutPackageBtn {
    background-color: #D8C149;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.aboutPackageBtn:hover {
    color: #D8C149;
    background-color: transparent;
    border: .1rem solid #D8C149;
}

.aboutPackageBtn a {
    color: white;
    text-decoration: none;
}

.contactUsBtn {
    background-color: transparent;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #7E7B73;
    border: none;
    border-radius: 2.5rem;
    border: .1rem solid #7E7B73;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.contactUsBtn:hover {
    color: #F0F0F0;
    background-color: #7E7B73;
}